@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    width: 220px;
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    .select {
      width: 100%;
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 20px 30px 5px 35px;
      position: relative;
      z-index: 1;
    }
    
    .optionsWrapper {
      position: absolute;
      left: 0;
      top: 54px;
      width: 100%;
      overflow: hidden;
      max-height: 0;
    }
    
    &:hover .optionsWrapper {
      max-height: unset;
    }

    .options {
      width:100%;
      position: relative;
      transform: translateY(-100%);
      transition: 0.5s;
      background-color: $main-bg;
      border: 1px solid $form-border-color;
      padding: 0;
    }

    .option {
      position: relative;
      padding: 10px 0 10px 15px;
      list-style-type: none;
    }

    .option:hover {
      background-color: $primary;
      color: $text-color-light;
    }

    .option:hover::after {
      content: "";
      height: 100%;
      width: 4px;
      background-color: $header-topbar-bg;
      position: absolute;
      top: 0;
      left: 0;
    }

    .selectPlaceholder {
      list-style-type: none;
    }

    &:hover .options {
      transform: translateY(0);
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
